
{% extends 'base.html.twig' %}

{% block title %}Your Tasks{% endblock %}

{% block body %}

  <h2>Your tasks:</h2>

   {%if tasks is empty %}
      <p>You don't have any tasks</p>
   {% else %}
      <ul>
      {% for task in tasks %}
         <a href="task/{{task.getId()}}"><li>{{task.getTitle()}} - {{task.getDeadline()|date('Y-m-d H:i:s')}}</li> 
         <a href="task/delete/{{task.getId()}}"><button>Delete</button></a>
      {% endfor %}
      </ul>
   {% endif %}
 
   <br>
   <a href="task/new"><button>Add Task</button></a>
   {%if app.user %}
   <div class="mb-3">
      You are logged in as {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Logout</a>
   </div>
   {% endif %}
{% endblock %}
