
{% extends 'base.html.twig' %}

{% block title %}Your Tasks{% endblock %}

{% block body %}
<div class="container md-4 pt-5">
   
  <h2 class="mb-4">Today</h2>

   <form id="addTaskForm" class="input-group mb-4">
      <input type="hidden" id="task__token" name="task[_token]" data-controller="csrf-protection" value="csrf-token">
      <input type="text" class="form-control" name="task[title]" required>
     
      <button class="btn btn-outline-secondary" type="submit" name="task[save]" onClick="">Add</button>

      <div class="input-group">
         <input type="date" class="form-control" name="task[deadline]" required>
      </div> 
   </form>

 

   {%if tasks is empty %}
      <p>You don't have any tasks</p>
   {% else %}
      <ul id="taskList" class="list-unstyled">
      {% for task in tasks %}
      <a class="text-decoration-none text-body" href="task/{{task.getId()}}">
         <li class="task p-2 my-2 shadow-sm border rounded">
            <div class="fs-6">{{task.getTitle()}}</div>
            <small class="text-light-emphasis fw-light">Due {{task.getDeadline()|date('D, M d')}}</small>
         </li>
      </a>
         
      {% endfor %}
      </ul>
   {% endif %}
 
   {%if app.user %}
   <div class="mb-3">
      You are logged in as {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Logout</a>
   </div>
   {% endif %}
</div>
{% endblock %}
